package main

import (
	"time"
	"gopkg.in/guregu/null.v3"

)
{{ range $ii, $data := . }}
type {{$data.Name}} struct {
{{ range $i, $e := $data.Fields }}  {{$e.Name}}   {{StructFieldType $e}}
{{ end }}}


{{ end }}