// Copyright 2019 The GoCreator Authors. All rights reserved.
// Code Generator tarafından bir defaya mahsus oluşturulmuştur
// Taslakdır, Map işlemini manuel yapmalısınız


package gocreator
import (

)

func {{.Name}}HandlerMap(v {{.Name}}Request) {{.Name}}Response{
    var r {{.Name}}Response
    // TODO(Map) Implament
    return r
}
