package gocreator

import (
"time"

)
{{ range $ii, $data := . }}
    type {{.Name}}Request struct {
    {{ range $i, $e := $data.Request.Fields }}  {{$e.Name}}   {{ProxyFieldType $e}}
    {{ end }}}

    type {{.Name}}Response struct {
    {{ range $i, $e := $data.Response.Fields }}  {{$e.Name}}   {{ProxyFieldType $e}}
    {{ end }}}


{{ end }}
