package gocreator

import (

{{ImportFieldEndPoint . "time.Time" "time" }}


)
{{ range $ii, $data := . }}
    type {{$data.Name}}Request struct {
    {{ range $i, $e := $data.Request.Fields }}  {{$e.Name}}   {{EndPointFieldType $e}}
    {{ end }}}

    type {{$data.Name}}Response struct {
    {{ range $i, $e := $data.Response.Fields }}  {{$e.Name}}   {{EndPointFieldType $e}}
    {{ end }}}


{{ end }}
